@require '~@default-theme/styles/code'

// fixed
{$contentClass}
    div[class*="language-"]
        width: 100%;
        margin: 0.85rem auto;

        .custom-style-wrapper.window-controls
            padding: 10px 0 0 10px;
