@require '~@default-theme/styles/code'

// fixed
div[class*="language-"] {
    width: 100%;
    margin: 0.85rem auto;

    .custom-style-wrapper.window-controls {
        padding: 10px 0 0 10px;
    }

    .highlight-lines {
        padding-top: 4rem;
    }
}

div[class*="language-"].line-numbers-mode {
    .line-numbers-wrapper {
        top: 28px;
        margin: 0.85rem 0;
        bottom: 0px;
    }

    &:after {
        top: 46px;
        bottom: 0px;
        height: auto;
    }
}
