.go-to-top {
    height: 2rem;
    width: 2rem;
    background: $backgroundColor;
    box-shadow: $boxShadow;
    padding: 0.4rem;
    border-radius: $borderRadius;

    &:hover {
        box-shadow: $boxShadowHover;
    }
}
