$maxWidth = 1400px;
$contentWidth = 1000px;

// $boxShadow = 0 1px 6px 0 rgba(0, 0, 0, 0.2)
$boxShadow = rgba(0, 0, 0, 0.02) 0px 0px 6px 0px, rgba(0, 0, 0, 0.1) 0px 6px 12px -6px, rgba(0, 0, 0, 0.2) 0px -6px 26px -12px;
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)

// 默认值
$whiteColor = #ffffff;
$accentColor = #3eadd3
$textColor = #2c3e50
$borderColor = rgba(#888888, 0.25)
$codeBgColor = #282c34
$borderRadius = 2px;
$backgroundColor = #ffffff
