$maxWidth = 1400px;
$contentWidth = 1000px;

// 默认值
$accentColor = #3eadd3
$textColor = #2c3e50
$borderColor = rgba(#888888, 0.25)
$codeBgColor = #282c34
$borderRadius = 2px;
$backgroundColor = #ffffff
$boxShadow = 0 1px 6px 0 rgba(0, 0, 0, 0.2)
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)

